[submodule "dependencies/ofxCMS"]
	path = dependencies/ofxCMS
	url = git@github.com:markkorput/ofxCMS.git
[submodule "dependencies/ofxLambdaEvent"]
	path = dependencies/ofxLambdaEvent
	url = git@github.com:markkorput/ofxLambdaEvent.git
[submodule "dependencies/ofxInterface"]
	path = dependencies/ofxInterface
	url = git@github.com:markkorput/ofxInterface.git
